---
import "./../../css/login.css";
---

<div class="container-login">
  <form id="login-form">
    <h1 class="text-center mb-3">Let's Rock 🎸</h1>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="name@example.com"
        required
      />
      <label for="username">Username</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="pass"
        placeholder="Password"
        required
      />
      <label for="pass">Password</label>
      <button
        type="button"
        class="toggle-password"
        onclick="togglePasswordVisibility()"
        aria-label="Toggle Password Visibility"
      >
        👁️
      </button>
    </div>

    <button type="submit" class="btn mt-4">Let's Go 😎</button>
  </form>
</div>

<script>
  declare global {
    interface Window {
      togglePasswordVisibility: () => void;
    }
  }

  // funcion para gestionar la visibiliadad de la contraseña
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById(
      "floatingPassword"
    ) as HTMLInputElement;
    const toggleButton = document.querySelector(
      ".toggle-password"
    ) as HTMLElement;

    if (passwordInput) {
      const isPassword = passwordInput.type === "password";
      passwordInput.type =
        passwordInput.type === "password" ? "text" : "password";

      if (toggleButton) {
        toggleButton.innerHTML = isPassword ? "🙈" : "👁️";
      }
    }
  }

  import Toastify from "toastify-js/";
  import "toastify-js/src/toastify.css";

  const BACKEND_URL = `${import.meta.env.BACKEND_URL || "http://127.0.0.1:3001"}`;
  const form = document.getElementById("login-form") as HTMLFormElement;

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const username = (document.getElementById("username") as HTMLInputElement)
      .value;
    const password = (document.getElementById("pass") as HTMLInputElement)
      .value;
    try {
      const response = await fetch(`${BACKEND_URL}/login`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ username, password }),
      });

      if (response.ok) {
        Toastify({
          text: "Login successful!🚀",
          duration: 3000,
          gravity: "top",
          position: "center",
          backgroundColor: "#000",
        }).showToast();
        window.location.href = "/home";
      } else {
        Toastify({
          text: "Login failed. Please check your credentials.👎",
          duration: 3000,
          gravity: "top",
          position: "center",
          backgroundColor: "#000",
        }).showToast();
      }
    } catch (error) {
      console.error("Error during login:", error);
      Toastify({
        text: "An error occurred. Please try again later.",
        duration: 3000,
        gravity: "top",
        position: "center",
        backgroundColor: "#000",
      }).showToast();
    }
  });

  window.togglePasswordVisibility = togglePasswordVisibility;
</script>
