@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Patrick+Hand&display=swap');

body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

.container-login{

    width: 30%;
    padding: 40px;
    box-shadow: -4px 1px 39px 3px rgba(52,78,65,0.8);
    -webkit-box-shadow: -4px 1px 39px 3px rgba(52,78,65,0.8);
    -moz-box-shadow: -4px 1px 39px 3px rgba(52,78,65,0.8);
    border-radius: 20px;
    
}

.btn{
    background-color: #2D6A4F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    
}

.btn:hover{
    background-color: #588157;
}

.position-relative {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #6c757d;
}

.toggle-password:focus {
    outline: none;
}

